body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff 0%, #dfe4ea 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
